.daylight
{
	background-color: #f1c40f;
	animation: background 20s ease-in-out;
}
.daylightOver
{
	background-color:#111;
	animation: none 0s;
}
canvas
{
	border: 0px none !important;
}
.sun {
  box-shadow: 0 0 30px #f39c12;
  animation: sunflare 20s linear forwards;
  border-radius:50%;
}

@keyframes sunflare {
  0% {
    box-shadow: 0 0 20px #f39c12;
  }
  95% {
    box-shadow: 0 0 20px #f39c12;
  }
  100% {
    box-shadow: 0 0 80px #f39c12;
  }
  55% {
    box-shadow: 0 0 20px #f39c12;
  }
  100% {
    box-shadow: 0 0 20px #f39c12;
  }
}
@keyframes background {
  0% {
    background-color: #f1c40f;
  }
  50% {
    background-color: #111;
  }
  100% {
    background-color: #f1c40f;
  }
  
.optioncontainer {
	padding-left: 80px;
	padding-right: 80px;
}

.option {
	width: 120px;
	height: 60px;
	float: left;
	border: solid 1px #999999;
	padding: 4px;
	margin: 2px;
	background-color: #fbfbfb;
}

.selected {
	background-color: yellow;
}

.jSlots-wrapper {
	overflow: hidden; /* to hide the magic */
	height: 20px; /* whatever the height of your list items are */
	display: inline-block; /* to size width correctly, can use float too, or width*/
	border: 1px solid #999;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.fancy .jSlots-wrapper {
	overflow: hidden;
	height: 100px;
	display: inline-block; /* to size correctly, can use float too, or width */
	width: 100%;
	background-color: #f7f7f7;
}

.fancy .wheel li {
	line-height: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
	font-family: 'Gravitas One', serif;
	border-left: 1px solid #999;
}

/*
.fancy .wheel:first-child li {
	border-left: none;
}

.fancy .wheel li:nth-child(7) {
	background-color: #FFCE29;
}
.fancy .wheel li:nth-child(6) {
	background-color: #FFA22B;
}
.fancy .wheel li:nth-child(5) {
	background-color: #FF8645;
}
.fancy .wheel li:nth-child(4) {
	background-color: #FF6D3F;
}
.fancy .wheel li:nth-child(3) {
	background-color: #FF494C;
}
.fancy .wheel li:nth-child(2) {
	background-color: #FF3333;
}
.fancy .wheel li:nth-child(1),
.fancy .wheel li:nth-child(8) {
	background-color: #FF0000;
}

.fancy .wheel li span {
	display: block;
}
.wheel {
	float: left;
}
*/
